<style>
  #follow{
    display: none;
    position: absolute;
    left: 50px;
    top: 50px;
    height: 200px;
    width: 100px;
    background-color: yellow;
    border: 2px solid red;
  }
</style>
  
<script>
  $(document).ready(function(){
    
    var top_new =parseInt($('#follow').css('top'));
    
    $('#follow').fadeIn(3000).click(function(){
      $(this).fadeOut('slow');
    });
    
    $(window).scroll(function(){
      var top = $(window).scrollTop();
      $('#follow').css('top', top+top_new);
    });
  });
</script>

<div id="follow">
  <p>This is follow text</p>
  <p>Click here to hide</p>
</div>

<div>
  Love Story (1970 film)
From Wikipedia, the free encyclopedia
Jump to: navigation, search
Love Story

Theatrical release poster
Directed by 	Arthur Hiller
Produced by 	Howard G. Minsky
Written by 	Erich Segal
Starring 	Ali MacGraw
Ryan O'Neal
John Marley
Ray Milland
Music by 	Francis Lai
Cinematography 	Richard C. Kratina
Editing by 	Robert C. Jones
Studio 	Love Story Company
Paramount Pictures
Distributed by 	Paramount Pictures
Release date(s) 	

    December 16, 1970

Running time 	99 minutes
Country 	United States
Language 	English
Budget 	$2.2 million
Box office 	$106,397,186[1]

Love Story is a 1970 romantic drama film written by Erich Segal and based on his novel Love Story. It was directed by Arthur Hiller. The film, well known as a tragedy, is considered one of the most romantic of all time by the American Film Institute (#9 on the list), and was followed by a sequel, Oliver's Story during 1978. Love Story starred Ryan O'Neal, Ali MacGraw, John Marley and Ray Milland and is also the film debut of Tommy Lee Jones in a minor role.
Contents

    1 Plot
    2 Cast
    3 Production
    4 Quotations
    5 Awards and nominations
    6 Reception
    7 Musical selections from the soundtrack
    8 Sequel
    9 "Ali MacGraw's Disease"
    10 References
    11 External links

Plot

The film tells of Oliver Barrett IV, who comes from a family of wealthy and well-respected Harvard University graduates. At Radcliffe library, the Harvard student meets and falls in love with Jennifer Cavilleri, a working-class, quick-witted Radcliffe College student. Upon graduation from college, the two decide to marry against the wishes of Oliver's father, who thereupon severs ties with his son.

Without his father's financial support, the couple struggles to pay Oliver's way through Harvard Law School with Jenny working as a private school teacher. They rent the top floor of a house near the Law School at 119 Oxford Street, in the Agassiz neighborhood of Cambridge adjacent to a local laundromat. Graduating third in his class at Harvard Law, Oliver takes a position at a respectable New York law firm.

With Oliver's new income, the pair of 24-year-olds decide to have a child. After failing, they consult a medical specialist, who after repeated tests, informs Oliver that Jenny is ill and will soon die. While this is not stated explicitly, she appears to have leukemia.

As instructed by his doctor, Oliver attempts to live a "normal life" without telling Jenny of her condition. Jenny nevertheless discovers her ailment after confronting her doctor about her recent illness. With their days together numbered, Jenny begins costly cancer therapy, and Oliver soon becomes unable to afford the multiplying hospital expenses. Desperate, he seeks financial relief from his father. When the senior Barrett asks if he needs the money because he got some girl "in trouble," Oliver says yes instead of telling his father the truth about Jenny's condition.

From her hospital bed, Jenny speaks with her father about funeral arrangements, then asks for Oliver. She tells him to avoid blaming himself, and asks him to embrace her tightly before she dies. They lie together on the hospital bed. As a grief-stricken Oliver leaves the hospital, he is met by his father who now wants to apologize for the way he treated his son. Oliver replies that "Love means never having to say you're sorry" and cries.
Cast

    Ali MacGraw as Jennifer "Jenny" Cavilleri-Barrett
    Ryan O'Neal as Oliver Barrett IV
    John Marley as Phil Cavilleri
    Ray Milland as Oliver Barrett III
    Russell Nype as Dean Thompson
    Katharine Balfour as Mrs. Barrett (as Katherine Balfour)
    Sydney Walker as Dr. Shapely
    Robert Modica as Dr. Addison
    Walker Daniels as Ray Stratton
    Tommy Lee Jones as Hank Simpson (as Tom Lee Jones)
    John Merensky as Steve
    Andrew Duncan as Reverend Blaufelt

Production

Erich Segal originally wrote the screenplay and sold it to Paramount Pictures. While the film was being produced, Paramount wanted Segal to write a novel to help pre-publicize the release of the film Valentine's Day. When the novel came out, it became a bestseller on its own in advance of the film.

The main song in the film, "(Where Do I Begin?) Love Story" was a major success, particularly the vocal rendition recorded by Andy Williams.

The Love Story production caused damage to the Harvard campus, and that experience, along with a similar experience with the film A Small Circle of Friends (1980), caused the university administration to deny most subsequent requests for filming on location there.[2]
Quotations
	Wikiquote has a collection of quotations related to: Love Story (film)

Two lines from the film have entered popular culture:

    What can you say about a twenty-five-year-old girl who died? That she was beautiful and brilliant. That she loved Mozart and Bach. The Beatles. And me.

    Love means never having to say you're sorry.

The latter is spoken twice in the film; once by Jennifer when Oliver is about to apologize to her for his anger. It is also spoken by Oliver to his father when his father says "I'm sorry" after hearing of Jennifer's death.

The quote made it to #13 onto the American Film Institute's AFI's 100 Years ... 100 Movie Quotes, a list of top movie quotes.

The 1972 comedy What's Up, Doc?, which stars O'Neal (who played Oliver in Love Story), mocks this trademark line. At the end of that film, when Barbra Streisand's character coos "Love means never having to say you're sorry" while batting her eyelashes, O'Neal's character responds with the line: "That's the dumbest thing I ever heard."
Awards and nominations

Love Story was nominated for seven 1970 Academy Awards, winning one:

    Best Music, Original Score — Francis Lai

It was nominated in the categories of:

    Best Picture — Howard G. Minsky
    Best Director — Arthur Hiller
    Best Writing, Screenplay Based on Material Not Previously Published — Erich Segal
    Best Actor in a Leading Role — Ryan O'Neal
    Best Actress in a Leading Role — Ali MacGraw
    Best Actor in a Supporting Role — John Marley

In addition, Love Story won five Golden Globe Awards including Best Drama Motion Picture and Best Director for Arthur Hiller. Ali MacGraw received an award for Best Actress, while Francis Lai received an award as well for his score. Finally, Erich Segal received one for his screenplay as well. O'Neal and Marley were each nominees.
Reception

Although popular with audiences and most reviewers, such as Roger Ebert,[3] the film was disliked by many others. Newsweek felt the film was contrived[3] and film critic Judith Crist called Love Story "Camille with bullshit."[4] Writer Harlan Ellison was on record in The Other Glass Teat, his book of collected criticism, as calling it "shit". President Richard Nixon however, reportedly enjoyed the film, regretting only that it contained so much cursing.[citation needed]

The film is scored number nine on the AFI's 100 Years…100 Passions list, which recognizes the top 100 love stories in American cinema. The film also spawned a trove of imitations, parodies, and homages in countless films, having re-energized melodrama on the silver screen as well as helping to set the template for the modern "chick flick".

The film became the highest grossing film of 1970 in U.S and Canada, grossing $106,397,186. At the time of release, it was the 6th highest grossing film of all time in U.S and Canada gross only. Adjusted for inflation, the film remains as one of the top 40 domestic grosses of all time.[5]

The Crimson Key Society, a student association, has sponsored showings of Love Story during orientation to each incoming class of Harvard College freshmen since the late 1970s. During the showings, society members and other audience members mock, boo, and jeer "maudlin, old-fashioned and just plain schlocky" moments to humorously build school spirit.[6]
Musical selections from the soundtrack

    Concerto No. 3 in D Major for harpsichord, third movement — by Johann Sebastian Bach
    Sonata In F Major for flute and harpsichord, first movement — by Wolfgang Amadeus Mozart
    Joy To The World — by George Frideric Handel and Isaac Watts
    A Fair Rose Is Blooming (Es ist ein Ros entsprungen) — by Michael Praetorius
    Love Story — by Francis Lai, performed by Francis Lai & His Orchestra
    Snow Frolic — by Francis Lai, performed by Francis Lai & His Orchestra
    I Love You, Phil — by Francis Lai
    The Christmas Tree — (traditional)
    Search for Jenny — by Francis Lai
    Bozo Barrett — by Francis Lai
    Long Walk Home — by Francis Lai
    Skating in Central Park — by John Lewis

Sequel

O'Neal and Milland reprised their roles for a sequel, Oliver's Story, that was released in 1978. It was based on Erich Segal's 1977 novel. The film begins with Jenny's funeral and then picks up 18 months after her death. Oliver is a successful, but unhappy lawyer in New York. Although he still mourns over Jenny's passing, he manages to find love with an heiress Marcie Bonwit (Candice Bergen). Suffering from comparisons to the original, Oliver's Story did poorly with both audiences and critics.
"Ali MacGraw's Disease"

In his glossary of movie conventions and clichés, Roger Ebert defines "Ali MacGraw's Disease" as a "Movie illness in which the only symptom is that the sufferer grows more beautiful as death approaches."[7] Another review describes Jenny as suffering from "some kind of Elizabeth Arden disease".
References

    ^ "Love Story, Box Office Information". Box Office Mojo. Retrieved January 29, 2012.
    ^ Nathaniel L. Schwartz, "University, Hollywood Relationship Not Always a 'Love Story'", Harvard Crimson, 21 September 1999.
    ^ a b Roger Ebert (1970-01-01). "Love Story". Rogerebert.suntimes.com. Chicago Sun-Times. Retrieved 2007-12-23.
    ^ Griffin, Robert; Garvey, Michael (2003). In the Kingdom of the Lonely God. Lanham, Maryland: Rowman & Littlefield. p. 78. ISBN 0-7425-1485-4. Retrieved 2009-12-27.
    ^ "DOMESTIC GROSSES". Box Office Mojo. Retrieved 2012-06-25.
    ^ Vinciguerra, Thomas. "The Disease: Fatal. The Treatment: Mockery" The New York Times, 20 August 2010.
    ^ Roger Ebert. "Definition of Ali MacGraw's Disease". Rogerebert.suntimes.com. Chicago Sun-Times. Retrieved 2009-11-20.

    Vincent Canby (1970-12-18). "Love Story (1970) – Screen: Perfection and a 'Love Story': Erich Segal's Romantic Tale Begins Run". The New York Times. Retrieved 2007-06-04.

External links

    Love Story at the Internet Movie Database
    Love Story at AllRovi
    Film Rewind: Revisiting Love Story (fan summary)

[show]

    v
    t
    e

Golden Globe Award for Best Motion Picture – Drama (1961–1980)
[show]

    v
    t
    e

Films directed by Arthur Hiller
View page ratings
Rate this page
What's this?
Trustworthy
Objective
Complete
Well-written
I am highly knowledgeable about this topic (optional)
Categories:

    1970 films
    English-language films
    American films
    1970s drama films
    1970s romance films
    American romantic drama films
    Best Drama Picture Golden Globe winners
    Films based on novels
    Films based on romance novels
    Films directed by Arthur Hiller
    Films featuring a Best Drama Actress Golden Globe winning performance
    Films set in Massachusetts
    Films set in New York City
    Films whose director won the Best Director Golden Globe
    Best Original Music Score Academy Award winners
    Paramount Pictures films
    Films about cancer

    Create account
    Log in

    Article
    Talk

    Read
    Edit
    View history

    Main page
    Contents
    Featured content
    Current events
    Random article
    Donate to Wikipedia

Interaction

    Help
    About Wikipedia
    Community portal
    Recent changes
    Contact Wikipedia

Toolbox
Print/export
Languages

    العربية
    Български
    Català
    Deutsch
    Eesti
    Español
    فارسی
    Français
    한국어
    Italiano
    עברית
    Latina
    Nederlands
    日本語
    Polski
    Português
    Română
    Русский
    Suomi
    Svenska
    Türkçe
    Українська
    Tiếng Việt

    This page was last modified on 31 July 2012 at 16:07.
    Text is available under the Creative Commons Attribution-ShareAlike License; additional terms may apply. See Terms of use for details.
    Wikipedia® is a registered trademark of the Wikimedia Foundation, Inc., a non-profit organization.
    Contact us

    Privacy policy
    About Wikipedia
    Disclaimers
    Mobile view

    Wikimedia Foundation
    Powered by MediaWiki


</div>